.ct-body-heading{
    .go-back{
        display:flex;
        gap:10px;
        align-items:center;
      
        border:1px solid orange;
        padding:5px 5px;
        color:orange;
        font-family:'Inter Semibold';
        transition: all 0.2s ease-in-out;
        &:hover{
            background-color:orange;
            color:white;
            cursor:pointer;
        }
        
    }
}