.wrapper {

    .f-w {

        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-direction: column;

        .f-w-back {
            position: absolute;
            top: 50px;
            left: 50px;
            

            .b-wr {
               

                

                .btn-back {
                    .bi {
                        color: black;
                        font-size: 1.5625rem;
                        padding:5px 10px;
                        &:hover {
                            background-color: rgba(0, 0, 0, 0.1);
                        }

                    }
                    
                }

            }

        }

        .f-w-logo {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;

            img {
                width: 150px;
                height: 50px;
            }
        }

        .f-w-card {
            background-color: white;
            padding: 20px;
            width: 450px;
            border-radius: 7px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

            .f-w-card-fl {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .card-fl-hd {}

                .card-fl-bd {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    width: 100%;

                    label {
                        font-weight: 600;
                    }

                    input {
                        width: 100%;
                        padding: 10px;
                        margin-bottom: 10px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                    }
                }

                .card-fl-ft {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;

                    button {
                        padding: 10px 20px;
                        border: 0;

                        border-radius: 5px;
                        background-color: orange;
                        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
                        color: white;
                        cursor: pointer;

                        &:hover {
                            background-color: #ff8c00;
                        }
                    }
                }
            }

        }
    }
}
